# config file
config.yml

# initializer routines
**/Initializers/*

# comes with PowerShell
**/Modules/*

# except for bundled modules
!**/Modules/Array
!**/Modules/Command
!**/Modules/Console
!**/Modules/DotNet
!**/Modules/Fact
!**/Modules/File
!**/Modules/Itemize
!**/Modules/Platform
!**/Modules/Rest

# comes with PowerShell
**/Scripts/*