# VS Code
.devcontainer/
.vscode/

# Ignore to allow customization
**/config.yml
**/Initializers/*

# Comes with PowerShell
**/Modules/*
**/Scripts/*

# Modules contained in this repo
!**/Modules/Array
!**/Modules/Command
!**/Modules/Console
!**/Modules/DotNet
!**/Modules/Fact
!**/Modules/File
!**/Modules/Itemize
!**/Modules/Platform
!**/Modules/Rest