[Unit]
Description=QEMU virtual machine (%i)

[Service]
Type=forking
PIDFile=${QEMU_PIDS_DIR}/%i.pid

EnvironmentFile=${QEMU_MACHINES_DIR}/%i/systemd.conf
ExecStartPre=/usr/bin/mkdir -p ${QEMU_PIDS_DIR}
ExecStartPre=/bin/sh -c "${QEMU_PRE_CMD}"
ExecStart=${QEMU_EXE_PATH} ${QEMU_ARGS}
ExecStop=/bin/sh -c "kill -INT $MAINPID"
ExecStopPost=/bin/sh -c "${QEMU_POST_CMD}"

TimeoutStopSec=60
KillMode=none

[Install]
WantedBy=multi-user.target
